@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
body {
  background-color: #333333;
  color: white;
  font-family: "Roboto Mono", "Consolas", "Lucida Console",
    "Lucida Sans Typewriter", monospace;
}

a {
  color: cyan;
  background-color: transparent;
  text-decoration: underline;
}

.box-ex {
  /* width: 50px;*/
  background-color: #333333;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

input[type="button"] {
  /*width: 5em;  height: 2em;*/
}

p {
  margin: 3px;
}

.smaller {
  font-size: 70%;
}

.box2 {
  /*position: relative;*/
  width: 290px;
  /*height: 300px;*/
  line-height: 30px;
  margin: auto;
  margin-bottom: 10px;
  /*display: inline-block;*/
  background-color: #555555;
  color: white;
  text-align: center;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  border-style: dashed;
  vertical-align: top;
}

.box3 {
  width: 290px;
  /*height: 300px;*/
  line-height: 30px;
  margin: auto;
  margin-bottom: 30px;
  /*display: inline-block;*/
  background-color: #555555;
  color: white;
  text-align: left;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  border-style: dashed;
  vertical-align: top;
}

.innerhelp {
  text-align: left;
}
